#indexAside{
    border : 1px solid black;
    border-bottom : 0;
}
#recentWork{
    display : inline-block;
    border : 1px solid black;
    margin-top : 20px;
    margin-bottom : 20px;
    margin-left : 20px;
    padding : 5px;
    min-width : 600px;
    max-width : 600px;
    min-height : 180px;
    max-height : 180px;
    overflow : scroll;
}
