#userWrap{
    display : inline-block;
    position : relative;
    flow : left;
    margin-left : 20px;
    margin-top : 20px;
    padding : 5px;
    padding-top : 0px;
    border : 1px solid black;
    vertical-align : top;
    min-width : 240px;
}